<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 mt-auto border-top">
    <div class="col-md-4 d-flex align-items-center justify-content-center text-center">
      <span class="text-center text-dark">© 2022 Tirath Sharma all Right Riserved</span>
    </div>
  </footer>